* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.card {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Header */

ul {
  list-style: none;
}

li,
i {
  padding: 10px 5px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 1px 5px black;
  z-index: 1;

}

/* Main */

.sconto {
  text-decoration: line-through;
  padding-left: 5px;
}

/* Background color */

.bg-orange {
  background-color: #ff6900;
}

.bg-black {
  background-color: black;
}

.bg-red {
  background-color: red;
}

.bg-green {
  background-color: green;
}

.bg-white {
  background-color: #fff;
}

/* color */

.white {
  color: #fff;
}

.grey {
  color: grey;
}

.red {
  color: red;
}

/* Utility */

.space-between {
  justify-content: space-between;
}

.align-items {
  align-items: center;
}

.h-30 {
  height: 30px;
}

.h-400 {
  height: 400px;
}

.col-33 {
  width: calc(100% / 3 - 10px);
}

.pt-100 {
  padding: 100px 0;
}

.w-100 {
  width: 100%;
}

.small-text {
  font-size: 12px;
}

h4 {
  text-transform: uppercase;
}

.border-bottom {
  border-bottom: 1px solid white;
}

.text-center {
  text-align: center;
}

.py-20 {
  padding: 20px 0;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.left-0 {
  left: 0;
}

.left-45 {
  left: 45px;
}

.bottom-100 {
  bottom: 100px
}

.p-5 {
  padding: 5px;
}

.p-8 {
  padding: 8px;
}

.top-10 {
  top: 10px;
}

.right-0 {
  right: 0;
}

.heart:hover {
  color: red;
}

/* Hover */

.front-img {
  display: block;
}

.back-img {
  display: none;
}

.col-33:hover .front-img {
  display: none;
}

.col-33:hover .back-img {
  display: block;
}